@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@using FlightManagementWeb.Models
@model IEnumerable<FlightManagementWeb.Models.Flight>

@{
    ViewData["admin"] = "admin";
}
<h1>Manage Flights</h1>

@if (User.IsInRole("Admin"))
{
    <nav><h2>Hello @ViewBag.AdminFName</h2></nav>

}

<form asp-action="Admin" asp-controller="Flight" method="get">
    
    <div class="container">
        <div class="search-bar">
            <div class="input-group">
                <input type="text" class="form-control" name="email" placeholder="Search User By Email" aria-label="Search" aria-describedby="search-addon">
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
        </div>
    </div>
</form>   



@if (ViewBag.emailFinded != null)
{
    var userPurchases = (List<FlightManagementWeb.Models.Purchase>)ViewBag.userPurchases;
    var foundUser = ViewBag.emailFinded as FlightManagementWeb.Models.ApplicationUser;
    var getRole = ViewBag.userRole as IList<string>;
    var archivedFlights = ViewBag.archivedFlights;
    <table class="table">
        <thead>
        <tr>
            <th>
                Email
            </th>
            <th>
                Full Name
            </th>
            <th>
                Role
            </th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>@foundUser.Email</td>
            <td>@foundUser.FirstName @foundUser.LastName</td>
            @foreach (var role in getRole)
            {
                if (@role == "" || @role == null)
                {
                    <td>N/A</td>
                }
                else
                {
                    <td>@role</td>
                }
            }
            <td>
                <form method="post" asp-action="ChangeRoles" asp-controller="Flight">
                    <input type="hidden" name="email" value="@foundUser.Email"/>
                    <select name="id" class="form-select">
                        <option value="">Select Role</option>
                        @foreach (var role in ViewBag.allRoles as List<IdentityRole>)
                        {
                            <option value="@role.Id">@role.Name</option>
                        }
                    </select>
                    <button type="submit" class="btn btn-warning btn-sm">Change Role</button>
                </form>
            </td>
            <td>
                <form method="post" asp-action="DeleteUser" asp-controller="Flight">
                    <input type="hidden" name="id" value="@foundUser.Id"/>
                    <button type="submit" class="btn btn-danger btn-sm">Delete User</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <table class="table">
        <thead>
        <tr>
            <th>Flight</th>
            <th>From</th>
            <th>To</th>
            <th>Departure Date</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var purchase in userPurchases)
        {
            <tr>
                <td>@purchase.Flight.Aircraft.AirlineName</td>
                <td>@purchase.Flight.DepartureCity</td>
                <td>@purchase.Flight.ArrivalCity</td>
                <td>@purchase.Flight.DepartureDate.ToString("MMM dd, yyyy HH:mm")</td>
                <td>$@purchase.Flight.Price</td>
                
                <form asp-action="RefundTicket" asp-controller="Flight" method="post">
                    <td><button  class="btn btn-danger btn-sm" asp-action="RefundTicket" asp-controller="Flight" asp-route-id="@purchase.PurchaseNumber" type="submit">Return Ticket</button></td>
                </form>
                
            </tr>
        }
    @foreach (var oldPurchase in archivedFlights)
    {
        <tr>
            <td>@oldPurchase.Flight.Aircraft.AirlineName</td>
            <td>@oldPurchase.Flight.DepartureCity</td>
            <td>@oldPurchase.Flight.ArrivalCity</td>
            <td>@oldPurchase.Flight.DepartureDate.ToString("MMM dd, yyyy HH:mm")</td>
            <td>$@oldPurchase.Flight.Price</td>
    
            <td></td>
        </tr>
    }
        </tbody>
    </table>
}
@if (TempData["RoleAlert"] != null)
{
    <p class="alert alert-success">@TempData["RoleAlert"]</p>
}

@if (TempData["DeleteAlert"] != null)
{
    <p class="alert alert-danger">@TempData["DeleteAlert"]</p>
}

@if (TempData["UserAlert"] != null)
{
    <p class="alert alert-warning">@TempData["UserAlert"]</p>
}
<p>
    <a asp-action="CreateFlight" class="btn btn-primary">Create a New Flight</a>
</p>
<h3>Total Available Flights (@Model.Count())</h3>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Aircraft.AirlineName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aircraft.TailNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartureCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArrivalCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            Action
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var flight in Model)
    {
        <tr>
            
            <td>@flight.Aircraft.AirlineName</td>
            
            <td>@flight.Aircraft.TailNumber</td>

            <td>@flight.DepartureCity</td>

            <td>@flight.ArrivalCity</td>
            
            <td>$@flight.Price"@if (flight.Aircraft.Capacity <= 0)
                               {
                                   
                                   <p>Sold Out!</p>
                               }else if (flight.Aircraft.Capacity <= 15)
                               {
                                   <p>Hurry Up! Less then 15 Seats are available</p>
                               }</td>
            <td><p><a asp-action="EditFlight" asp-route-id="@flight.FlightId" class="btn btn-warning">Edit Flight</a></p></td>
            <td><p><a asp-action="DeleteFlight" asp-route-id="@flight.FlightId" class="btn btn-danger">Delete Flight</a></p></td>
        </tr>
    }
    </tbody>
</table> 

