@using Microsoft.AspNetCore.Identity


@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@model IEnumerable<FlightManagementWeb.Models.Flight>

@{
    ViewData["admin"] = "admin";
}
<h1>Manage Flights</h1>

@if (User.IsInRole("Admin"))
{
    <nav><h2>Hello Admin</h2></nav>
}

<p>
    <a asp-action="CreateFlight" class="btn btn-primary">Create a New Flight</a>
</p>
<h3>Total Available Flights (@Model.Count())</h3>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Aircraft.AirlineName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aircraft.TailNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartureCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArrivalCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            Action
        </th>


    </tr>
    </thead>
    <tbody>
    @foreach (var flight in Model)
    {
        <tr>
            
            <td>@flight.Aircraft.AirlineName</td>
            
            <td>@flight.Aircraft.TailNumber</td>

            <td>@flight.DepartureCity</td>

            <td>@flight.ArrivalCity</td>
            
            <td>$@flight.Price"</td>
            <td><p><a asp-action="EditFlight" asp-route-id="@flight.FlightId" class="btn btn-warning">Edit Flight</a></p></td>
            <td><p><a asp-action="DeleteFlight" asp-route-id="@flight.FlightId" class="btn btn-danger">Delete Flight</a></p></td>
        </tr>
    }
    </tbody>
</table> 

