@model List<FlightManagementWeb.Models.Aircraft>

@{
    ViewData["AircraftMenu"] = "Aircraft Menu";
}

<!DOCTYPE html>

<html>
<head>
    <title>Add Aircraft Admin Page</title>
    <h1>Manage Aircraft Admin Page</h1>
</head>
<body>

<a asp-action="CreateAircraft" class="btn btn-primary">Create a Aircraft</a>

<div>
    <h4>
        Total Saved Aircraft (@Model.Count)
    </h4>
</div>

<table class="table table-info">
    <thead>
    
    <tr>
        
        <th scope="col">Tail Number</th>
        <th scope="col">Airline Name</th>
        <th scope="col">Airplane Model</th>
        <th scope="col">Airplane Capacity</th>
        <th scope="col">Action Button</th>
    </tr>
    </thead>
    <tbody>
    
    @if (!Model.Any())
    {
        <div class="alert alert-info">
            <h4>There is No Aircraft Records</h4>
        </div>
    }
    else
    {
        @foreach (var aircraft in Model)
        {
            <tr>
                <td>@aircraft.TailNumber</td>
                <td>@aircraft.AirlineName</td>
                <td>@aircraft.AircraftModel</td>
                <td>@aircraft.Capacity</td>
                <td>
                    <div class="d-flex justify-content-center gap-2">
                        <a asp-action="EditAircraft" asp-route-id="@aircraft.AircraftId" class="btn btn-warning">Edit Aircraft </a>
                        <a asp-action="DeleteAircraft" asp-route-id="@aircraft.AircraftId" class="btn btn-danger">Delete Aircraft</a>
                    </div>
                </td>
               
                
            </tr>
        }
        
    }
    
    </tbody>
</table>



</body>
</html>